* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: #f0f0f0;
  color: #000;
}

button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}